{% extends 'base.html' %}
{% block content %}
<div class="add">
    <div class="form_box">
        <form action="addResult" method="GET">

            {% csrf_token %}
            <div class="add-grid">
                <div class="add-gri-com">
                    <label value="player_name">Player Name:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="playerName" type="text" name="name" placeholder="Enter Player name!">
                </div>
            </div>

            <div class="add-grid">
                <div class="add-gri-com">
                    <label value="age">Age:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="playerAge" type="text" name="age" placeholder="Enter age!">
                </div>
            </div>

            <div class="add-grid">
                <div class="add-gri-com">
                    <label value="nationality">Nationality:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="nationality" type="text" name="nationality"
                        placeholder="Enter nationality!">
                </div>
            </div>

            <div class="add-grid">
                <div class="add-gri-com">
                    <label value="club">Club:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="clubName" type="text" name="club" placeholder="Enter club name!">
                </div>
            </div>

            <div class="add-grid">
                <div class="add-gri-com">
                    <label value="rating">Player rating:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="playerRating" type="text" name="rating"
                        placeholder="Enter player rating!">
                </div>
            </div>

            <div class="add-grid">
                <div class="add-gri-com">
                    <label value="position">Position:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="playerPosition" type="text" name="position"
                        placeholder="Enter player position!">
                </div>
            </div>

            <div class="add-grid">

                <div class="add-gri-com">
                    <label value="potential">Potential:</label>
                </div>
                <div class="add-gri-com-2">
                    <input class="text-field" id="playerPotential" type="text" name="potential"
                        placeholder="Enter Potential?!">

                </div>
            </div>
            <div class="add-button-spacing">
                <button type="submit" class="submit-button">ADD</button>

            </div>


        </form>
    </div>
</div>
{% endblock %}