{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> FIFA Database</title>
    <script type="text/javascript" src="{% static 'p5.js' %}"></script>
    <script type="text/javascript" src="{% static 'site.js' %}"></script>
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <!--    <script type="text/javascript" src="{% static 'field.js' %}"></script>-->

    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'site.js' %}"></script>
</head>

<body>
    {% load static %}
    {% include 'navbar.html' %}
    {%block content%}

    {% endblock %}
<!--    <script type="text/javascript" src="{% static 'site.js' %}"></script>-->
</body>

</html>