<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="assets/site.css">
  <title>Homepage</title>
</head>

<body>
  <div class="nav-bar">
    <li><a href="homepage.html">FIFA</a></li>

  </div>
  <h1 id="#homepage">This is the homepage</h1>
  <form method="get">

    <input type="submit" class="btn" value="request server" name="print_btn" onclick="alert('request recieved')">
  </form>
  </form>
  <button class="btn" type="button" onclick="alert('Hello world!')">Click Me!</button>
</body>

</html>