{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> FIFA Database</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
  </head>
  <body>
    <h1>Welcome to the FIFA 2021 Database! </h1>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#player_list">Players</a>
      <a href="#about"> About us</a>
      <div class="search_bar">
        <form action="https://google.com">
          <input type="text" name="search" placeholder="Lionel Messi" id="searching_player">
          <button type="submit"><i class=""></i>></button>
        </form>

      </div>

    </div>
  </body>
</html>