{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> FIFA Database</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
</head>

<body>
    {% load static %}
    <div class="navbar">
        <a href="#FIFA21" class="fifa21 nav-link">FIFA21</a>
        <a href="{% url 'search' %}" class="nav-link">Search</a>
        <a href="{% url 'map' %}" class="nav-link">Map</a>
        <a href="{% url 'add' %}" class="nav-link">Add</a>
        <a href="{% url 'ratings' %}" class="nav-link">Ratings</a>



    </div>

</body>

</html>