{% extends 'base.html' %}
{% block content %}
<div class="form-spacing">
    <!-- {{player_name}} was added! -->
    <div class="paper">

        {% if result_list %}
        <div class="test-grid">
            <div class="player-grid">
                <div class="player">ID</div>
                <div class="player">Name</div>
                <div class="player">Nationality</div>
                <div class="player">Position</div>
                <div class="player">Rating</div>
                <div class="player">Age</div>
                <div class="player">Potential</div>
                <div class="player">Team</div>
            </div>

            <div></div>
            <div></div>
        </div>
        {% for player in result_list %}
        <i class="{{ country.flag_css }}"></i>
        <div class="test-grid">
            <div class="player-grid">
                <div class="player">{{player.player_id}}</div>
                <div class="player">{{player.name}}</div>
                <div class="player">{{player.nationality}} {{player.icon}}</div>
                <div class="player">{{player.position}} </div>
                <div class="player">{{player.overall}}</div>
                <div class="player">{{player.age}}</div>
                <div class="player">{{player.potential}}</div>
                <div class="player">{{player.team}}</div>

            </div>
            <div class="two-button-grid">
                <form action="delEntry" method="GET">
                    <button class="submit-button" type="submit" name='player_id'
                        value={{ player.player_id }}>Delete</button>
                </form>
                <!--TODO stay on page after deletes-->
                <form method="GET" action="modify">
                    <button class="submit-button" type="submit" name="modify_player"
                        value={{player.player_id}}>Modify</button>
                </form>
            </div>
        </div>
        {% endfor %}

        {% elif response == "deleted"  %}
        <h1>Player was deleted!</h1>
        {% elif response == "modified"  %}
        <h1>Player was modified!</h1>
        {% elif response == "added" %}
        <h1>Player was added!</h1>
        {% else %}
        <h1>Sorry, no players found :(</h1>
        {% endif %}
        <!--    TODO Add in button to return to search page-->

    </div>
</div>
{% endblock %}