h1{
  text-align: center;
  background-color: aliceblue;
}


.top_navigation_bar{
  overflow: hidden;
  blackground-color: yellow;
}

.top_navigation_bar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.top_navigation_bar a:hover {
  background: grey;
  color: black;
}

.top_navigation_bar a.active{
  background-color: lightblue;
  color: black;
}


.top_navigation_bar input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.top_navigation_bar .search_bar{
  float: right;
}

.top_navigation_bar .search_bar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: grey;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


