h1{
  text-align: center;
}

.topnav{
  overflow: hidden;
  blackground-color: #d1ded1;
}

.topnav a{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

