body {
  margin: 0px;
  height: 100%;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: rgb(92, 2, 69);*/
  background-color: #aeea00;
}
.images {
  background-image: url( "{% static 'images/homepage.jpg' %}");
  background-repeat: no-repeat;
  background-size: 100%;
}
.navbar {
  position: absolute;
  display: table;
  /*background-color: rgb(173, 0, 130);*/
  background-color: #33920f;
  text-align: center;
  width: 100%;
  /* padding: 14px 16px; */
  font-size: 17px;
}
.nav-link {
  float: left;
  color: white;
  background-color: transparent;
  padding: 15px;
  padding-top: 30px;

}
.fifa21 {
  font-size: 30px;
  text-align: center;

}
.nav-link:hover{
  color: pink;
}
a:link {
  text-decoration: none;
}

.button-grid {
  text-align: center;
  display: grid;
  margin: auto;
  height: 50%;
  padding-top: 300px;
  grid-template-columns: 100px;
  grid-row-gap: 10px;
  grid-template-rows: 50px 50px 50px;
  justify-content: center;
}

.button-link, .search-button{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  /*padding-top: 9px;*/
  background-color: #90a4ae;
  color: white;
  height: 40px;
  align-items: center;
  text-align: center;
}

.button-link:hover, .search-button:hover, .add-button:hover {
 background-color: #37474f;
}

.add-button{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: #90a4ae;
  color: white;
  height: 40px;
  width: 80px;
}

.add-button-spacing{
  padding: 30px;
}

@media (max-width: 890px) {
}


.search, .add{
  padding: 100px;
  display: flex;
  /*margin: 25%;*/
  height: 50%;
  /*width: 1%;*/
  /*display: inline-block;*/
  margin-left: 25%;
  margin-right: 25%;
  padding-top:175px;

}

.add_form_box{
  padding:100px;
  height: 400px;
  width: 800px;
  background-color: #33920f;
  /*border: 5px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

.search_form_box{
  padding:100px;
  height: 400px;
  width: 2000px;
  background-color: #33920f;
  /*border: 5px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

.search-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 10px;
  align-items: center;

}

.text-field, #dropdown{
  border-radius: 10px;
  height: 35px;
  text-align: center;
}

.add-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10px;
  align-items: center;
  /*grid-template-rows: repeat(6,1fr);*/
  /*grid-row-gap: 10px;*/
  grid-auto-flow: row;
  justify-content: center;
  padding-bottom: 5px;
}
.paper{
padding-top:300px;
}