.canvas {
  position: relative;
  display: block;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.85);
  overflow-y: hidden;
  transition: 0.5s;
  float: left;
}

.open-nav {
  z-index:1;
  position:fixed;
  top: 0;
  font-size:30px;
  padding: 2%;
}

.overlay .closebtn {
  position: absolute;
  color: rgb(169, 253, 34);
  top: 20px;
  right: 45px;
  font-size: 40px;
}

.navbar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}
.nav-col-1 {
display: grid;
grid-auto-flow: row;
justify-content: space-evenly;
grid-template-rows: 30px 30px 30px;
}
.col-1 {
  display: grid;
grid-auto-flow: row;
grid-row-gap: 10px;
justify-content: space-evenly;
grid-template-rows: 50px 50px;

}
.nav-col-2 {
display: grid;
justify-content: space-evenly;
grid-auto-flow: row;
grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
}
.col-2 {

display: grid;
justify-content: space-evenly;
grid-auto-flow: row;
grid-row-gap: 10px;
grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.fifa21 {
  font-size: 90px;
}

.submit-button:hover,  .fifa21:hover {
  color: black;
  background-color: rgb(169, 253, 34);
}

.button-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 35%;
  text-align: center;
  display: grid;
  height: 50%;
  grid-auto-flow: column;
  grid-column-gap: 150px;
  grid-template-columns: repeat(2,1fr);
  /* justify-content: center; */
}
.title {
  padding-bottom: 30px;
}
.homepage-text {
  position: fixed;
  bottom: 0px;
}


.nav-col-1 a , .nav-col-2 a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  display: block; 
  transition: 0.3s; 
}

.nav-col-1 a:hover, .nav-col-1 a:focus, .nav-col-2 a:hover, .nav-col-2 a:focus {
  color:  rgb(169, 253, 34);
}



